on:
  workflow_call:
    inputs:
      compose_files:
        description: 'Compose files'
        default: 'compose.yaml:compose.ci.yaml'
        required: false
        type: string
      php_version:
        description: 'Used PHP version'
        required: true
        type: string
      # Composer dev dependencies are never parsed. Make sure to include
      # all necessary dev dependencies here.
      composer_dev_dependencies:
        description: 'Extra composer dev dependencies'
        required: false
        default: ''
        type: string
      phpcs_args:
        description: 'Used phpcs arguments. These are emitted if phpcs.xml file exists.'
        required: false
        type: string
        default: '--standard=Drupal --extensions=php,module,install,theme,inc'
    secrets:
      sonarcloud_token:
        required: false
      # This is used by drupal/helfi_azure_fs module.
      flysystem_azure_connection_string:
        required: false
env:
  SYMFONY_DEPRECATIONS_HELPER: disabled
  COMPOSER_DISCARD_CHANGES: true
  COMPOSER_MIRROR_PATH_REPOS: 1
  CODECOV_TOKEN: ${{ secrets.codecov_token }}
  SONARCLOUD_TOKEN: ${{ secrets.sonarcloud_token }}
  FLYSYSTEM_AZURE_CONNECTION_STRING: ${{ secrets.flysystem_azure_connection_string }}
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          repository: druidfi/stonehenge

      - name: Install and start Stonehenge
        run: make up

      - name: Clone platform
        run: |
          git clone --branch UHF-11502 --depth=1 https://github.com/City-of-Helsinki/drupal-helfi-platform.git ./drupal
          rm -rf ./drupal/.git

      - uses: actions/checkout@v5
        with:
          path: 'drupal/module'

      - name: Parse $MODULE_NAME from composer.json
        working-directory: drupal/module
        run: echo "MODULE_NAME=$(cat composer.json | jq -r .name | awk -F/ '{print $NF}')" >> $GITHUB_ENV


      - name: Setup Docker compose environment variables
        working-directory: drupal
        run: |
          # Read existing compose profiles from .env file
          source .env

          # Make sure testing is always included in compose profiles.
          if [ ! -n "$COMPOSE_PROFILES" ]; then
            COMPOSE_PROFILES=testing
          else
            COMPOSE_PROFILES=$COMPOSE_PROFILES,testing
          fi
          echo "COMPOSE_FILE=${{ inputs.compose_files }}" >> $GITHUB_ENV
          echo "COMPOSE_PROFILES=$COMPOSE_PROFILES" >> $GITHUB_ENV

      - name: Start compose project
        working-directory: drupal
        run: docker compose up -d --wait

      - name: Install required composer dependencies
        working-directory: drupal
        run: |
          docker compose exec -u 1001 app bash -c "composer config repositories.5 path module"
          docker compose exec -u 1001 app bash -c "composer require drupal/$MODULE_NAME ${{ inputs.composer_dev_dependencies }} -W"
          # We use COMPOSER_MIRROR_PATH_REPOS=1 to mirror local repository
          # instead of symlinking it to prevent code coverage issues with
          # phpunit. Copy .git folder manually so codecov can generate line by
          # line coverage.
          docker compose exec app bash -c "cp -r module/.git public/modules/contrib/$MODULE_NAME/"

      - name: Run PHPCS
        working-directory: drupal
        run: |
          docker compose exec app bash -c "vendor/bin/phpcs public/modules/contrib/$MODULE_NAME"

      - name: Run phpstan
        working-directory: drupal
        run: docker compose exec app bash -c "vendor/bin/phpstan analyze -c public/modules/contrib/$MODULE_NAME/phpstan.neon public/modules/contrib/$MODULE_NAME"

      - name: Install Drupal
        working-directory: drupal
        run: |
          docker compose exec app bash -c "drush si -y"
          docker compose exec app bash -c "drush en $MODULE_NAME"

      - name: Run PHPUnit tests
        working-directory: drupal
        run: |
          docker compose exec php vendor/bin/phpunit \
            --bootstrap $(pwd)/public/core/tests/bootstrap.php \
            -c $MODULE_FOLDER/phpunit.xml \
            --coverage-clover=/app/coverage-base.xml \
            --testsuite unit,kernel

      - name: Export coverage.xml
        working-directory: drupal
        run: |
          docker compose exec app bash -c "cat /app/coverage-base.xml" > coverage.xml

      - name: SonarQube Scan
        if: ${{ env.SONARCLOUD_TOKEN }}
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.sonarcloud_token }}

      - name: Export logs
        if: always()
        run: docker compose logs app > results/service.log

      - name: Create an artifact from test report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: results
          path: results/
          retention-days: 1
