on:
  workflow_call:
    inputs:
      compose_files:
        description: 'Compose files'
        default: 'compose.yaml:compose.ci.yaml'
        required: false
        type: string
      check_security_updates:
        description: 'Whether to scan security updates or not'
        default: true
        required: false
        type: boolean
      check_config_language:
        description: 'Whether to check if configuration was exported in correct language'
        default: true
        required: false
        type: boolean
      check_config_language_ignore_files:
        description: 'Comma-separated list of file patterns to ignore during langcode check'
        required: false
        type: string
    secrets:
      sonarcloud_token:
        required: false
env:
  SONARCLOUD_TOKEN: ${{ secrets.sonarcloud_token }}
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          repository: druidfi/stonehenge

      - name: Install and start Stonehenge
        run: make up

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Make sure configuration was exported in correct language (en or und)
        if: ${{ inputs.check_config_language }}
        run: |
          OUTPUT=$(grep -oP '^langcode: \b(?!(?:en|und)\b)\w+' conf -R || true)

          # Ignore files if specified
          if [ -n "${{ inputs.check_config_language_ignore_files }}" ] && [ -n "$OUTPUT" ]; then
            IGNORE_PATTERN=$(echo '${{ inputs.check_config_language_ignore_files }}' | tr ',' '|')
            OUTPUT=$(echo "$OUTPUT" | grep -vE "$IGNORE_PATTERN" || true)
          fi
          if [ ! -z "$OUTPUT" ]; then
            echo "Found configuration that does not match the pattern 'langcode: (en|und)':" >> $GITHUB_STEP_SUMMARY
            echo "$OUTPUT" >> $GITHUB_STEP_SUMMARY
            exit 1
          fi

      - name: Setup Docker compose environment variables
        run: |
          # Read existing compose profiles from .env file
          source .env

          # Make sure testing is always included in compose profiles.
          if [ ! -n "$COMPOSE_PROFILES" ]; then
            COMPOSE_PROFILES=testing
          else
            COMPOSE_PROFILES=$COMPOSE_PROFILES,testing
          fi
          echo "COMPOSE_FILE=${{ inputs.compose_files }}" >> $GITHUB_ENV
          echo "COMPOSE_PROFILES=$COMPOSE_PROFILES" >> $GITHUB_ENV

      - name: Start compose project
        run: docker compose up -d --wait

      - name: Check that subtheme is not built with dev mode
        run: |
          if [ -d "public/themes/custom/hdbt_subtheme" ]; then
            docker compose exec app bash -c "if grep -q 'sourceMappingURL=' -R public/themes/custom/hdbt_subtheme/dist/css; then exit 1; fi"
          fi

      - name: Build project
        run: docker compose exec app bash -c "composer install --no-interaction"

      - name: Scan security updates
        if: ${{ inputs.check_security_updates }}
        run: docker compose exec app bash -c "composer audit"

      - name: Run PHPCS
        run: |
          docker compose exec app bash -c "vendor/bin/phpcs public/modules/custom/"
          docker compose exec app bash -c "vendor/bin/phpcs public/themes/custom/"

      - name: Run phpstan
        run: docker compose exec app bash -c "vendor/bin/phpstan analyze"

      - name: Download latest dump
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh run download -n latest.sql

      - name: Install Drupal
        run: |
          docker compose exec app bash -c "mysql --skip-ssl --user=drupal --password=drupal --database=drupal --host=db --port=3306 -A < latest.sql"
          docker compose exec app bash -c "drush deploy"

      - name: Run PHPUnit tests
        run: |
          docker compose exec app bash -c "mkdir -p /app/results"
          if [ -d "tests/" ]; then
            docker compose exec app bash -c "composer test-php tests/"
          fi
          docker compose exec app bash -c "touch /app/coverage-base.xml"

          # PHPUnit 10.5+ fails to "Incorrect filter configuration" error if we
          # attempt to run empty test suite.
          # Make sure we actually have at least one test.
          HAS_TESTS=$(vendor/bin/phpunit -c /app/phpunit.xml.dist --coverage-clover=/app/coverage-base.xml --list-tests | tail -n +4)

          if [ -z "$HAS_TESTS" ]; then
            docker compose exec app bash -c "vendor/bin/phpunit -c /app/phpunit.xml.dist --coverage-clover=/app/coverage-base.xml"
          else
            echo "No PHPUnit tests found. Skipping.
          fi

      - name: Export coverage.xml
        run: |
          docker compose exec app bash -c "cat /app/coverage-base.xml" > coverage.xml

      - name: SonarQube Scan
        if: ${{ env.SONARCLOUD_TOKEN }}
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.sonarcloud_token }}

      - name: Export logs
        if: always()
        run: docker compose logs app > results/service.log

      - name: Create an artifact from test report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: results
          path: results/
          retention-days: 1
